#
# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
#
#
# Deployment configuration for the communities_api module
#

[communities_api]

[communities_pipeline]
aweurl=http://localhost:7080
project=mgrast-pipeline
clientgroups=awe-mgr
filter_options='filter_ambig:max_ambig=5:filter_ln'
shockurl=http://localhost:7078
pipeline=config/kbase.pipeline.template
prefix_length=50
dereplicate=1
screen_indexes='h_sapiens_asm'
bowtie=1
totalwork=16
fgs_type=454
aa_pid=90
md5rna_clust=md5nr.clust
rna_pid=97
ach_annotation_ver=1
mem_host=10.0.4.96:11211
